{% extends "public.html" %} {% block page %}
<div class="row q-col-gutter-md justify-center">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4">
        <q-card class="q-pa-lg">
            <q-card-section class="q-pa-none" v-if="activeGame">
                <h1>{{ coinflip.name }}</h1>
                <p>Number of Players: {{ coinflip.number_of_players }}</p>
                <p>Buy In: {{ coinflip.buy_in }} sats</p>
                <p>House Cut: {{ coinflip.house_cut }}%</p>

                <form id="coinflip-form">
                    <q-input type="text" model="lnaddress" required></q-input>
                    <q-button type="joinGame">Join Coinflip</q-button>
                </form>
            </q-card-section>
            <q-card-section class="q-pa-none" v-else>
                <h1>Create Coinflip Game</h1>
                <form id="create-coinflip-form">
                    <q-input label="Name" type="text" model="coinflip.name" required></q-input>
                    <q-input label="Number of players" type="number" model="coinflip.number_of_players" required></q-input>
                    <q-input label="Buy in" type="number" model="coinflip.buy_in"></q-input>
                    <q-button type="createGame">Create Coinflip</q-button>
                </form>
            </q-card-section>
        </q-card>
    </div>
</div>
{% endblock %} {% block scripts %}
<script>
    Vue.component(VueQrcode.name, VueQrcode)

    new Vue({
        el: '#vue',
        mixins: [windowMixin],
        data() {
            return {
                activeGame: false,
                gameId: "",
                coinflip: {
                    name: "",
                    number_of_players: 0,
                    buy_in: 0,
                }
            }
        },
        methods: {
            getQueryParam(param) {
                const urlParams = new URLSearchParams(window.location.search)
                return urlParams.get(param)
            },
            getGame() {
                fetch(`/satsdice/api/v1/coinflip/${this.gameId}`)
                    .then(response => response.json())
                    .then(data => {
                        this.coinflip = data
                    });
            },
            createGame() {
                fetch(`/satsdice/api/v1/coinflip`, {
                    method: 'POST',
                    body: JSON.stringify({
                        name: this.coinflip.name,
                        number_of_players: this.coinflip.number_of_players,
                        buy_in: this.coinflip.buy_in
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        this.coinflip = data
                    });
            },
            joinGame() {
                fetch(`/satsdice/api/v1/coinflip/${this.gameId}/join`, {
                    method: 'POST',
                    body: JSON.stringify({
                        lnaddress: this.lnaddress
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        this.coinflip = data
                    });
            }
        },
        mounted() {
            const gameId = this.getQueryParam('game')
            if (gameId) {
                this.gameId = gameId
                game = this.getGame()
                if (game) {
                    this.coinflip = game
                    this.activeGame = true
                } else {
                    this.activeGame = false
                }
            } else {
                this.activeGame = false
            }
        }
    })
</script>
{% endblock %}