{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block scripts %} {{ window_vars(user) }}
<script src="{{ static_url_for('satsdice/static', path='js/index.js') }}"></script>
{% endblock %} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn unelevated color="primary" @click="formDialog.show = true"
          >New satsdice</q-btn
        >
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">satsdices</h5>
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="payLinks"
          row-key="id"
          v-model.pagination="payLinksTable.pagination"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th style="width: 10%"></q-th>
              <q-th auto-width style="text-align: left"></q-th>
              <q-th auto-width style="text-align: left">Title</q-th>
              <q-th auto-width style="text-align: left">Min bet</q-th>
              <q-th auto-width style="text-align: left">Max bet</q-th>
              <q-th auto-width style="text-align: left">Multiplier</q-th>
              <q-th auto-width style="text-align: left">Haircut</q-th>
              <q-th auto-width style="text-align: left">Chance</q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td style="width: 10%">
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="visibility"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="openQrCodeDialog(props.row.id)"
                ></q-btn>
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="openUpdateDialog(props.row.id)"
                  icon="edit"
                  color="light-blue"
                ></q-btn>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deletePayLink(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>

              <q-td auto-width v-text="props.row.title"></q-td>
              <q-td auto-width v-text="props.row.min_bet"></q-td>
              <q-td auto-width v-text="props.row.max_bet"></q-td>
              <q-td auto-width v-text="'*' + props.row.multiplier"></q-td>
              <q-td auto-width v-text="props.row.haircut"></q-td>
              <q-td auto-width v-text="props.row.chance + '+'"></q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
    <q-card>
      <q-card-section>
        <q-toggle
          v-model="coinflip.coinflipEnabled"
          label="Enable Coinflip Games"
        ></q-toggle>
        <div class="row">
          <div class="col">
            <q-input
              v-if="coinflip.coinflipEnabled"
              filled
              dense
              v-model.number="coinflip.coinflipHaircut"
              type="number"
              label="Haircut on coiflips (%)"
            ></q-input>
          </div>
          <div class="col">
            <q-input
              class="q-ml-md"
              v-if="coinflip.coinflipEnabled"
              filled
              dense
              v-model.number="coinflip.coinflipMaxPlayers"
              type="number"
              label="Max players per game"
            ></q-input>
          </div>
          <div class="col">
            <q-input
              class="q-ml-md"
              v-if="coinflip.coinflipEnabled"
              filled
              dense
              v-model.number="coinflip.coinflipMaxBet"
              type="number"
              label="Max Bet Size (sats)"
            ></q-input>
          </div>
        </div>
        <div class="row q-mt-lg">
          <div class="col">
            <q-select
              v-if="coinflip.coinflipEnabled"
              filled
              dense
              emit-value
              v-model="coinflip.wallet_id"
              :options="g.user.walletOptions"
              label="Wallet *"
            ></q-select>
          </div>
        </div>
        <q-btn
          class="q-mt-md"
          v-if="coinflip.coinflipEnabled"
          @click="saveCoinflipSettings"
          color="primary"
          >Save Settings</q-btn
        >
        <q-btn
          class="q-mt-md"
          v-if="coinflip.coinflipId"
          @click="formDialogCoinflip.show = true"
          color="primary"
          >Create coinflip game</q-btn
        >
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Sats Dice extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list>
          {% include "satsdice/_api_docs.html" %}
          <q-separator></q-separator>
          {% include "satsdice/_lnurl.html" %}
        </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="formDialog.show" position="top" @hide="closeFormDialog">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-form @submit="sendFormData" class="q-gutter-md">
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        >
        </q-select>
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.title"
          type="text"
          label="Title *"
        ></q-input>

        <div class="row">
          <div class="col">
            <q-input
              class="q-pr-xs"
              filled
              dense
              v-model.trim="formDialog.data.min_bet"
              type="number"
              label="Min bet size (sats)"
            ></q-input>
          </div>
          <div class="col">
            <q-input
              class="q-pl-xs"
              filled
              dense
              v-model.trim="formDialog.data.max_bet"
              type="number"
              label="Max bet size (sats)"
            ></q-input>
          </div>
        </div>

        <q-input
          filled
          dense
          v-model.trim="formDialog.data.haircut"
          type="number"
          label="Haircut (chance of winning % to remove)"
        ></q-input>
        <center>
          <q-badge color="secondary" class="q-mb-lg">
            Multipler: x<span v-text="multiValue"></span>, Chance of winning:
            <span v-text="chanceValueCalc | percent"></span>
          </q-badge>

          <q-slider
            style="width: 95%"
            class="q-pt-lg"
            v-model="multiValue"
            :min="1.5"
            :max="20"
            :step="2"
            label
            label-always
            color="primary"
            markers
            snap
          ></q-slider>
        </center>

        <div class="row q-mt-lg">
          <q-btn
            v-if="formDialog.data.id"
            unelevated
            color="primary"
            type="submit"
            >Update flip link</q-btn
          >
          <q-btn
            v-else
            unelevated
            color="primary"
            :disable="
                formDialog.data.wallet == null ||
                formDialog.data.title == null || formDialog.data.min < 10 || formDialog.data.max < formDialog.data.min"
            type="submit"
            >Create satsdice</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog
    v-model="formDialogCoinflip.show"
    position="top"
    @hide="closeFormDialog"
  >
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-form @submit="createGame" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="formDialogCoinflip.data.title"
          type="text"
          label="Title *"
        ></q-input>

        <div class="row">
          <div class="col">
            <q-input
              class="q-pr-xs"
              filled
              dense
              v-model.trim="formDialogCoinflip.data.number_of_players"
              type="number"
              :label="'Number of players (max ' + coinflip.coinflipMaxPlayers + ')'"
            ></q-input>
          </div>
          <div class="col">
            <q-input
              class="q-pl-xs"
              filled
              dense
              v-model.trim="formDialogCoinflip.data.buy_in"
              type="number"
              :label="'Buy in (max ' + coinflip.coinflipMaxBet + 'sats)'"
            ></q-input>
          </div>
        </div>
        <div>
          <q-btn
            unelevated
            color="primary"
            :disable="
              formDialogCoinflip.data.title == null || formDialogCoinflip.data.number_of_players > coinflip.coinflipMaxPlayers || formDialogCoinflip.data.buy_in > coinflip.coinflipMaxBet"
            type="submit"
            >Create coinflip</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="qrCodeDialog.show" position="top">
    <q-card v-if="qrCodeDialog.data" class="q-pa-lg lnbits__dialog-card">
      <lnbits-qrcode
        :value="'lightning:' + qrCodeDialog.data.lnurl"
        class="rounded-borders"
      ></lnbits-qrcode>
      <p style="word-break: break-all">
        <strong>ID:</strong> <span v-text="qrCodeDialog.data.id"></span><br />
        <strong>Amount:</strong> <span v-text="qrCodeDialog.data.amount"></span
        ><br />
        <span v-if="qrCodeDialog.data.currency"
          ><strong v-text="qrCodeDialog.data.currency + ' price:'"></strong>
          <span
            v-if="fiatRates[qrCodeDialog.data.currency]"
            v-text="fiatRates[qrCodeDialog.data.currency] + ' sat'"
          ></span>
          <span v-else>Loading...</span>
          <br />
        </span>
        <strong>Accepts comments:</strong>
        <span v-text="qrCodeDialog.data.comments"></span><br />
        <strong>Dispatches webhook to:</strong>
        <span v-text="qrCodeDialog.data.webhook"></span><br />
        <strong>On success:</strong>
        <span v-text="qrCodeDialog.data.success"></span><br />
      </p>
      <div class="row q-mt-lg q-gutter-sm">
        <q-btn
          outline
          color="grey"
          @click="copyText(qrCodeDialog.data.lnurl, 'Satsdice copied to clipboard!')"
          class="q-ml-sm"
          >Copy Satsdice LNURL</q-btn
        >
        <q-btn
          outline
          color="grey"
          icon="link"
          @click="copyText(qrCodeDialog.data.pay_url, 'Link copied to clipboard!')"
          ><q-tooltip>Copy shareable link</q-tooltip></q-btn
        >

        <q-btn
          outline
          color="grey"
          icon="launch"
          type="a"
          :href="qrCodeDialog.data.pay_url"
          target="_blank"
          ><q-tooltip>Launch shareable link</q-tooltip></q-btn
        >
        <q-btn
          outline
          color="grey"
          icon="print"
          type="a"
          :href="qrCodeDialog.data.print_url"
          target="_blank"
          ><q-tooltip>Print Satsdice</q-tooltip></q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>
</div>
{% endblock %}
